.kontakt {
    color: black;
    margin: 20px 10%;
    display: flex;
    justify-content: space-evenly;
}

.kontakt form {
    width: 500px;
}

.kontakt .center_vertical_line {
    width: 2px;
    background-color: rgb(21, 78, 21);
    box-shadow: 3px 3px 6px rgba(0,0,0,.25), -3px 0px 6px rgba(0,0,0,.25);
}

.left {
    width: 500px;
}

.kontakt h1 {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    text-align: center;
    color: rgb(37, 82, 37);
    font-size: 24px;
}

.kontakt h2 {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 26px;
}

.inputBox {
    position: relative;
    width: 490px;
    margin: 0 5px 10px 0;
    padding-right: 5px;
    display: block;
}

.inputBox select:hover {
    cursor: pointer;
}

.inputBox textarea {
    resize: vertical;
    min-height: 100px;
}

.form_input, .form_select {
    width: 100%;
    padding: 10px 0 10px 5px;
    border: 1px solid rgb(21, 78, 21);
    background: transparent;
    outline: none;
    font-size: 1em;
    border-radius: 5px;
    box-shadow: 4px 4px 10px rgba(0,0,0,.25), -4px 0px 10px rgba(0,0,0,.25);
}

.form_label {
    position: absolute;
    font-size: 1em;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 8px;
    cursor: text;
}

.form_input:focus ~ .form_label,
.form_input:not(:placeholder-shown).form_input:not(:focus) ~ .form_label {
    top: -8px;
    left: 8px;
    font-size: 0.7em;
    text-transform: uppercase;
    background: rgb(21, 78, 21);
    padding: 0 4px;
    bottom: auto;
    color: white;
    border-radius: 4px;
    transition: 0.5s;
}

.form_select:focus ~ .form_label,
.form_select:valid ~ .form_label {
    top: -8px;
    left: 8px;
    font-size: 0.7em;
    text-transform: uppercase;
    background: rgb(21, 78, 21);
    padding: 0 4px;
    bottom: auto;
    color: white;
    border-radius: 3px;
    transition: 0.5s;
}

.inputBox:nth-child(2) {
    display: inline-block;
    width: 240px;
}

.inputBox:nth-child(3) {
    display: inline-block;
    width: 240px;
}

.inputBox:nth-child(4) {
    display: inline-block;
    width: 240px;
}

.inputBox:nth-child(6) {
    display: inline-block;
    width: 497px;
}

.inputBox:nth-child(7) {
    display: inline-block;
    width: 240px;
}

.inputBox:nth-child(8) {
    display: inline-block;
    width: 240px;
}

.inputBox:nth-child(10) {
    display: inline-block;
    width: 240px;
}

.kontakt button {
    border: 1px solid rgb(21, 78, 21);
    border-radius: 40px;
    background-image: linear-gradient(90deg, rgb(49, 165, 49), rgb(37, 82, 37));
    color: white;
    width: 100px;
    height: 40px;
    font-weight: bold;
    box-shadow: 4px 4px 10px rgba(0,0,0,.25), -4px 0px 10px rgba(0,0,0,.25);
    transition: 0.5s;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.kontakt button:hover {
    background-image: linear-gradient(90deg, rgb(37, 82, 37), rgb(49, 165, 49));
    color: white;
    cursor: pointer;
    transform: scale(1.2);
}