.kontakt {
    color: black;
    margin: 20px 10%;
    display: grid;
    grid-template-areas: 
        "info info info info"
        "input input joon contact";
}

.kontakt_info {
    color: black;
    margin: auto;
    margin-bottom: 40px;
    grid-area: info;
}

.kontakt form {
    width: 510px;
    margin: auto;
    grid-area: input;
}

.kontakt .center_vertical_line {
    width: 2px;
    background-color: green;
    grid-area: joon;
    box-shadow: 3px 3px 6px rgba(0,0,0,.25), -3px 0px 6px rgba(0,0,0,.25);
}

.right {
    width: 510px;
    grid-area: contact;
    font-size: 25px;
    margin: auto;
}

.inputBox {
    position: relative;
    width: 500px;
    margin: 0 10px 10px 0;
    display: block;
}

.inputBox textarea {
    resize: vertical;
    min-height: 150px;
}

.inputBox input,
.inputBox select,
.inputBox textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid green;
    background: white;
    border-radius: 5px;
    outline: none;
    color: black;
    font-size: 16px;
    box-sizing: border-box;
    box-shadow: 4px 4px 10px rgba(0,0,0,.25), -4px 0px 10px rgba(0,0,0,.25);
}

.inputBox span {
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 16px;
    color: black;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span,
.inputBox select:valid ~ span,
.inputBox select:focus ~ span,
.inputBox textarea:valid ~ span,
.inputBox textarea:focus ~ span {
    color: white;
    transform: translateX(10px) translateY(-7px);
    border-radius: 3px;
    font-size: 10px;
    padding: 0 10px;
    background: green;
    transition: 0.5s;
    text-transform: uppercase;
}

.inputBox input:valid,
.inputBox input:focus,
.inputBox select:valid,
.inputBox select:focus,
.inputBox textarea:valid,
.inputBox textarea:focus {
    border: 1px solid green;
}

.inputBox:nth-child(1) {
    display: inline-block;
    width: 245px;
}

.inputBox:nth-child(2) {
    display: inline-block;
    width: 245px;
}

.inputBox:nth-child(3) {
    display: block;
    width: 245px;
}

.inputBox:nth-child(6) {
    display: inline-block;
    width: 245px;
}

.inputBox:nth-child(7) {
    display: inline-block;
    width: 245px;
}

.inputBox:nth-child(10) {
    display: block;
    width: 500px;
}

.kontakt button {
    border: 1px solid green;
    border-radius: 5px;
    background: white;
    color: green;
    width: 100px;
    height: 40px;
    font-weight: bold;
    transition: 0.3s;
    box-shadow: 4px 4px 10px rgba(0,0,0,.25), -4px 0px 10px rgba(0,0,0,.25);
}

.kontakt button:hover {
    background: green;
    color: white;
    cursor: pointer;
}