.main_body {
    width: 100%;
    display: block;
}

.horizontal_line {
    width: 100%;
    height: 2px;
    background: rgb(37, 82, 37);
    margin-top: 50px;
}

.variant1 {
    margin: 20px 25%;
    padding: 20px;
    width: 50%;
    display: flex;
}

.main_body .variant1 h1 {
    color: rgb(21, 78, 21);
    margin: 0;
    margin-bottom: 30px;
}

.variant1 p {
    color: black;
    text-align: justify;
    margin-right: 100px;
    line-height: 2em;
}
.variant1 img {
    width: 25%;
    border-radius: 10px;
    box-shadow: 8px 8px 10px rgba(0,0,0,.25), -8px 0px 10px rgba(0,0,0,.25);
}

.variant2 {
    margin: 20px 25%;
    padding: 20px;
    width: 50%;
    display: flex;
}

.main_body .variant2 h1 {
    color: rgb(21, 78, 21);
    margin: 0;
    margin-bottom: 30px;
    text-align: right;
}

.variant2 p {
    color: black;
    text-align: justify;
    margin-left: 100px;
    width: 100%;
    line-height: 2em;
}

.variant2 img {
    width: 25%;
    border-radius: 10px;
    box-shadow: 8px 8px 10px rgba(0,0,0,.25), -8px 0px 10px rgba(0,0,0,.25);
}

.variant2 button {
    float: right;
    border: 1px solid rgb(21, 78, 21);
    border-radius: 40px;
    background-image: linear-gradient(90deg, rgb(49, 165, 49), rgb(37, 82, 37));
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 150px;
    height: 40px;
    font-weight: bold;
    box-shadow: 4px 4px 10px rgba(0,0,0,.25), -4px 0px 10px rgba(0,0,0,.25);
    transition: 0.5s;
}

.variant2 button:hover {
    background-image: linear-gradient(90deg, rgb(37, 82, 37), rgb(49, 165, 49));
    color: white;
    cursor: pointer;
    transform: scale(1.2);
}

.variant1 button {
    border: 1px solid rgb(21, 78, 21);
    border-radius: 40px;
    background-image: linear-gradient(90deg, rgb(49, 165, 49), rgb(37, 82, 37));
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 150px;
    height: 40px;
    font-weight: bold;
    box-shadow: 4px 4px 10px rgba(0,0,0,.25), -4px 0px 10px rgba(0,0,0,.25);
    transition: 0.5s;
}

.variant1 button:hover {
    background-image: linear-gradient(90deg, rgb(37, 82, 37), rgb(49, 165, 49));
    color: white;
    cursor: pointer;
    transform: scale(1.2);
}