.footer {
    background-image: url("../public/background3.png");
	background-size: cover;
    color: black;
    font-weight: bold;
    height: 70px;
    margin-top: 20px;
    position: sticky;
    width: 100%;
    border-top: 2px solid rgb(21, 78, 21);
}

.copyright {
    margin: 0 10%;
    padding-top: 20px;
}